.container {
    display: flex;
    align-items: baseline;
    overflow-x: auto;
    width: 80vw;
}

.item {
    list-style-type: none;
    margin-right: 10px;
}

.btnClose {
  background-color: var(--main-btn-color);
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.btnClose:hover {
  box-shadow: 1px 1px 1px black;
  background-color: var(--main-btn-color-hover);
}

.btnUpDown {
  background-color: var(--main-btn-color);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.btnUpDown:hover:not(:disabled) {
  box-shadow: 1px 1px 1px black;
  background-color: var(--main-btn-color-hover);
}

.btnUpDown:disabled {
  box-shadow: 0;
}