.btn {
  background-color: var(--main-btn-color);
  color: white;
  border-radius: 20%;
  padding: 10px;
}

.btn:hover {
  box-shadow: 3px 3px 3px black;
  background-color: var(--main-btn-color-hover);
}

.btnClose {
  background-color: var(--main-btn-color);
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.btnClose:hover {
  box-shadow: 1px 1px 1px black;
  background-color: var(--main-btn-color-hover);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  border-color: black;
  border-width: 1px;
  border-top-width: 0px;
  border-style: solid;
}

.item {
  text-align: left;
  width: 20vw;

  @media screen and (width < 1440px) {
    width: 25vw;
  }

  @media screen and (width < 1024px) {
    width: 30vw;
  }

  @media screen and (width < 768px) {
    width: 40vw;
  }

  @media screen and (width < 500px) {
    width: 45vw;
  }
}
.item:hover {
  background-color: rgb(18, 42, 148, 0.6);
  cursor: pointer;
}