:root {
  --main-btn-color: rgb(43, 103, 131);
  --main-btn-color-hover: rgb(43, 103, 131, 0.8);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 0px;
  transition: transform 0.5s;
}

p {
  text-align: center;
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
  opacity: 0.3;
}

li {
  list-style-type: none;
}

.transition-zero {
  transition: all 0s !important;
}